header.header
  nav.nav
    a.nav__logo(href="/") Home

    if user
      div.nav__user
        span Hello   #{ user.name}
        
        a.logout(href="/logout") Log out
    else
      div.nav__auth
        a(href="/login") Login
        a(href="/signup") Sign Up
