extends base

block content 
    main.main
        .forgot--form
            h2.heading-secondary.ma-bt-lg Forgot your password?
            p.text-center Enter your email address and we'll send you a reset link.

            form.form.forgot--form
                .form__group
                    label.form__label(for='email') Email address
                    input#email-forgot.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green Reset password
