extends base

block content 
    main.main
        .reset--form
            h2.heading-secondary.ma-bt-lg Reset your password
            form.form.reset--form
                .form__group
                    label.form__label(for='password') New Password
                    input#password-reset.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    label.form__label(for='passwordConfirm') Confirm New Password
                    input#confirm-reset.form__input(type='password', placeholder='••••••••', required)
                .form__group
                    button.btn.btn--green(type='submit') Save new password
